body {
    background-color: #000000;   
    font-family: Arial, sans-serif; 
    color: #333;   
    margin: 20px;  
}

h2 {
    color: rgb(255, 208, 0); 
}

h3 {
    color: rgb(240, 184, 0);    
}

li {
    color: rgb(255, 145, 0);     
    margin-bottom: 5px; 
}
body { 
    color:rgb(240, 184, 0)
}

hr {
    border: 1px solid rgb(253, 143, 0);  
    margin: 10px 0;
}

footer{
    text-align:center;
    padding:50px;
    color:white; 
}